<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>User Edit</title>
</head>
<body>
    <h1>変更フォーム</h1>
    <form action="/update/<%= user[0].user_ID %>" method="POST">
        メールアドレス <input type="text" name="email" value="<%= user[0].email %>" required><br>
        パスワード <input type="password" name="pass" value="<%= user[0].pass %>" required><br>
        名前 <input type="text" name="name" value="<%= user[0].name %>" required><br>
        郵便番号 <input type="text" name="postcode" value="<%= user[0].postcode %>" required><br>
        住所 <input type="text" name="address" value="<%= user[0].address %>" required><br>
        電話番号<input type="text" name="tel" value="<%= user[0].tel %>" required><br>
        <button type="submit">更新</button>
    </form>
</body>
</html>