<!-- 
    システム名：HAL自動車オークションシステム
    画面ID：A_car_detail.ejs
    画面名：車両詳細画面
    作成者：小嶋美紀
 -->
 <!DOCTYPE html>
 <html lang="ja">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../destyle.css">
     <link rel="stylesheet" href="../A_style.css">
     <link rel="stylesheet" href="../A_car_detail.css">
 <title>車両詳細画面</title>
 </head>
 <body>
     
     <div class="grid">
         <header><!-- 共通部分 -->
             <h1>車両詳細</h1>
             <!-- <jsp:include page="logout.jsp" /> -->
         </header>
         
         <nav><!-- 共通部分 -->
             <ul>
                 <li><a href="/" class="current">在庫管理</a></li>
                 <li><a href="/auctions">オークション管理</a></li>
                 <li><a href="/user">ユーザー管理</a></li>
                 <li><a href="/sales">売上管理</a></li>
             </ul>
         </nav>
         
         <main><!-- 画面ごとに変更される部分 -->
            
         <article>
			<div class="article-header">
                <h2><%= car_info.maker_name %>・<%= car_info.model_name %></h2>
                <div>
                    <button id="entry-btn">編集</bhutton>
                    <button id="delete-btn">削除</button>	
                </div>
            </div>
             <div class="img-area">
                <p><img src="https://placehold.jp/220x220.png" alt="車両画像"></p>
             </div>
             <div class="info-area">
                <h3>基本情報</h3>
                <table>
                    <tr>
                        <th>グレード</th>
                        <td><%= car_info.grade %></td>
                        <th>排気量</th>
                        <td><%= car_info.displacement %>cc</td>
                    </tr>
                    <tr>
                        <th>年式</th>
                        <td><%= car_info.model_year %></td>
                        <th>輸入車モデル年式</th>
                        <td><%= car_info.import_model_year %></td>
                    </tr>
                    <tr>
                        <th>走行距離</th>
                        <td><%= car_info.mileage %>km</td>
                        <th>走行距離の状態</th>
                        <td><%= car_info.run_status %></td>
                    </tr>
                    <tr>
                        <th>色系統</th>
                        <td><%= car_info.color_category %></td>
                        <th>色名</th>
                        <td><%= car_info.color_name %></td>
                    </tr>
                    <tr>
                        <th>車検有効期限</th>
                        <td><%= car_info.insurance_deadline %></td>
                        <th>ミッション</th>
                        <td><%= '1' == car_info.mt_at ? 'AT' : 'MT' %></td><!-- MT/AT表記に変換 -->
                    </tr>
                    <tr>
                        <th>ボディタイプ</th>
                        <td><%= car_info.body_type %></td>
                        <th>型式</th>
                        <td><%= car_info.car_type %></td>
                    </tr>
                </table>
             </div>
             <div class="detail-area">
                <h3>詳細情報</h3>
                <table>
                    <tr>
                        <th>ドア数</th>
                        <td><%= car_info.door %>ドア</td>
                        <th>乗車定員数</th>
                        <td><%= car_info.ride_member %>人乗り</td>
                    </tr>
                    <tr>
                        <th>駆動方式</th>
                        <td><%= car_info.drive %></td>
                        <th>燃料</th>
                        <td><%= car_info.fuel %></td>
                    </tr>
                    <tr>
                        <th>点検記録簿</th>
                        <td><%= '1' == car_info.checking_memory ? 'あり' : 'なし' %></td>
                        <th>修復歴</th>
                        <td><%= '1' == car_info.repair_history ? 'あり' : 'なし' %></td>
                    </tr>
                    <tr>
                        <th>車台番号(下3桁)</th>
                        <td><%= car_info.car_number %></td>
                        <th>リサイクル預託金</th>
                        <td><%= car_info.recycling_deposit %>円</td>
                    </tr>
                    <tr>
                        <th>輸入経路</th>
                        <td><%= car_info.import_route %></td>
                        <th>ハンドル</th>
                        <td><%= 'L' == car_info.handle ? '左' : '右' %></td>
                    </tr>
                    <tr>
                        <th>車歴</th>
                        <td><%= car_info.car_history %></td>
                        <th>所有者歴</th>
                        <td><%= '0' == car_info.owner_history ? 'なし' : '1' == car_info.owner_history ? '単一オーナー' : '複数オーナー' %></td>
                    </tr>
                    <tr>
                        <th>引き渡し条件</th>
                        <td><%= car_info.delivery_condition %></td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>

             </div>
             <div class="parts-area">
                <h3>装備品</h3>
                <ul>
                    <li class="parts<%= car_info.air_conditioner %>">エアコン</li>
                    <li class="parts<%= car_info.smart_key %>">スマートキー</li>
                    <li class="parts<%= car_info.sun_roof %>">サンルーフ</li>
                    <li class="parts<%= car_info.low_down %>">ローダウン</li>
                    <li class="parts<%= car_info.power_steering %>">パワステ</li>
                    <li class="parts<%= car_info.cd %>">CD</li>
                    <li class="parts<%= car_info.leather_seat %>">本革シート</li>
                    <li class="parts<%= car_info.non_smoking %>">禁煙車</li>
                    <li class="parts<%= car_info.power_window %>">パワーウィンドウ</li>
                    <li class="parts<%= car_info.md %>">MD</li>
                    <li class="parts<%= car_info.aero_parts %>">純正エアロパーツ</li>
                    <li class="parts<%= car_info.pet %>">ペット同乗無し</li>
                    <li class="parts<%= car_info.central_door_lock %>">集中ドアロック</li>
                    <li class="parts<%= car_info.dvd %>">DVDビデオ</li>
                    <li class="parts<%= car_info.genuine_alminium_wheel %>">純正アルミホイール</li>
                    <li class="parts<%= car_info.limited_edition %>">限定車</li>
                    <li class="parts<%= car_info.abs %>">ABS</li>
                    <li class="parts<%= car_info.tv %>">テレビ</li>
                    <li class="parts<%= car_info.skid_prevention %>">横滑り防止装置</li>
                    <li class="parts<%= car_info.test_drive %>">試乗、現車確認可能</li>
                    <li class="parts<%= car_info.airbag %>">エアバッグ</li>
                    <li class="parts<%= car_info.navi %>">ナビゲーション</li>
                    <li class="parts<%= car_info.traction_control %>">トラクションコントロール</li>
                    <li class="parts<%= car_info.manual %>">取扱説明書</li>
                    <li class="parts<%= car_info.etc %>">ETC</li>
                    <li class="parts<%= car_info.back_cam %>">バックカメラ</li>
                    <li class="parts<%= car_info.cold_climate %>">寒冷地帯仕様車</li>
                    <li class="parts<%= car_info.warranty %>">新車時保証書</li>
                    <li class="parts<%= car_info.key_less %>">キーレスエントリー</li>
                    <li class="parts<%= car_info.electric_door %>">電動スライドドア</li>
                    <li class="parts<%= car_info.welfare_vechicles %>">福祉車両</li>
                    <li class="parts<%= car_info.spare_tire %>">スペアタイヤ</li>
                </ul>
             </div>
         </article>

         </main>
     </div>
 
     <div id="entryModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
                <h3>編集</h2>
                <span class="modalClose">×</span>
            </div>
			<form action="" method="post">
				<h4>基本情報</h4>
				<p><input type="file" name="car_img" id="myImage" accept="image/*"></p>
				<p>
					メーカー名
					<select name="maker_id">
						<% for (let i = 0; i < maker_list.length; i++) { %>
						<option value="<%= maker_list[i].maker_ID %>" <%= maker_list[i].maker_ID == car_info.maker_ID ? 'selected' : '' %>><%= maker_list[i].maker_name %></option>
						<% } %>
					</select>
				</p>
				<p>
					車種名
					<select name="model_id">
						<% for (let i = 0; i < model_list.length; i++) { %>
						<option value="<%= model_list[i].car_model_ID %>" <%= model_list[i].car_model_ID == car_info.car_model_ID ? 'selected' : '' %>><%= model_list[i].name %></option>
						<% } %>
					</select>
				</p>
				<p>グレード<input type="text" name="grade" value="<%= car_info.grade %>"></p>
				<p>排気量<input type="number" name="displacement" value="<%= car_info.displacement %>"></p>
				<p>年式<input type="date" name="model_year" value="<%= car_info.model_year %>"></p>
				<p>輸入車モデル年式<input type="date" name="import_model_year" value="<%= car_info.import_model_year %>"></p>
				<p>走行距離<input type="number" name="mileage" value="<%= car_info.mileage %>"></p>
				<p>
					走行状態
					<select name="runstatus_id">
						<% for (let i = 0; i < run_status_list.length; i++) { %>
						<option value="<%= run_status_list[i].run_status_ID %>" <%= run_status_list[i].run_status_ID == car_info.run_status_ID ? 'selected' : '' %>><%= run_status_list[i].run_status %></option>
						<% } %>
					</select>
				</p>
				<p>
					色系統
					<select name="color_type">
						<% for (let i = 0; i < color_list.length; i++) { %>
						<option value="<%= color_list[i].color_ID %>" <%= color_list[i].color_ID == car_info.color_ID ? 'selected' : '' %>><%= color_list[i].color_name %></option>
						<% } %>
					</select>
				</p>
				<p>色名<input type="text" name="color_name" value="<%= car_info.color_name %>"></p>
				<p>車検有効期限<input type="date" name="insurance_deadline" value="<%= car_info.insurance_deadline %>"></p>
				<p>
					ミッション
					<select name="AT_MT">
						<option value="1" <%= 1 == car_info.mt_at ? 'selected' : '' %>>AT</option>
						<option value="2" <%= 2 == car_info.mt_at ? 'selected' : '' %>>MT</option>
					</select>
				</p>
				<p>
					ボディタイプ
					<select name="body_type_id">
						<% for (let i = 0; i < body_list.length; i++) { %>
						<option value="<%= body_list[i].body_type_ID %>" <%= body_list[i].body_type_ID == car_info.body_type_ID ? 'selected' : '' %> ><%= body_list[i].body_type_name %></option>
						<% } %>
					</select>
				</p>
				<p>型式<input type="text" name="car_type" value="<%= car_info.car_type %>"></p>
				<h4>詳細情報</h4>
				<p>ドア数<input type="number" name="door" value="<%= car_info.door %>"></p>
				<p>乗車定員数<input type="number" name="ride_member" value="<%= car_info.ride_member %>"></p>
				<p>
					駆動方式
					<select name="drive_id">
						<% for (let i = 0; i < drive_list.length; i++) { %>
						<option value="<%= drive_list[i].drive_ID %>" <%= drive_list[i].drive_ID == car_info.drive_ID ? 'selected' : '' %>><%= drive_list[i].drive %></option>
						<% } %>
					</select>
				</p>
				<p>
					燃料
					<select name="fuel_id">
						<% for (let i = 0; i < fuel_list.length; i++) { %>
						<option value="<%= fuel_list[i].fuel_ID %>" <%= fuel_list[i].fuel_ID == car_info.fuel_ID ? 'selected' : '' %> ><%= fuel_list[i].fuel %></option>
						<% } %>
					</select>
				</p>
				<p>
					点検記録簿
					<select name="check_memo">
						<option value="1" <%= 1 == car_info.checking_memory ? 'selected' : '' %>>あり</option>
						<option value="0" <%= 0 == car_info.checking_memory ? 'selected' : '' %>>なし</option>
					</select>
				</p>
				<p>
					修復歴
					<select name="repair">
						<option value="1" <%= 1 == car_info.repair_history ? 'selected' : '' %>>あり</option>
						<option value="0" <%= 0 == car_info.repair_history ? 'selected' : '' %>>なし</option>
					</select>
				</p>
				<p>車台番号(下3桁)<input type="number" name="car_number" value="<%= car_info.car_number %>"></p>
				<p>リサイクル預託金<input type="number" name="recycle" value="<%= car_info.recycling_deposit %>"></p>
				<p>輸入経路<input type="text" name="route" value="<%= car_info.import_route %>"></p>
				<p>
					ハンドル
					<select name="handle">
						<option value="R" <%= 'R' == car_info.handle ? 'selected' : '' %>>右</option>
						<option value="L" <%= 'L' == car_info.handle ? 'selected' : '' %>>左</option>
					</select>
				</p>
				<p>
					車歴
					<select name="car_history_id">
						<% for (let i = 0; i < car_history_list.length; i++) { %>
						<option value="<%= car_history_list[i].car_history_ID %>" <%= car_history_list[i].car_history_ID == car_info.car_history_ID ? 'selected' : '' %>><%= car_history_list[i].car_history %></option>
						<% } %>	
					</select>
				</p>
				<p>所有車歴<input type="number" name="owner_history" value="<%= car_info.owner_history %>"></p>
				<p>引き渡し条件<input type="text" name="delivery_condition" value="<%= car_info.delivery_condition %>"></p>
				<h4>装備品</h4>
				<ul>
					<li>
						<input type="checkbox" name="parts" id="aircon" value="0" <%= 1 == car_info.air_conditioner ? 'checked' : '' %>>
						<label for="aircon">エアコン</label>
					</li>
					<li>
						<!-- ここから -->
						<input type="checkbox" name="parts" id="smartkey" value="1" <%= 1 == car_info.smart_key ? 'checked' : '' %>>
						<label for="smartkey">スマートキー</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="sunroof" value="2" <%= 1 == car_info.sun_roof ? 'checked' : '' %>>
						<label for="sunroof">サンルーフ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="lowdown" value="3" <%= 1 == car_info.low_down ? 'checked' : '' %>>
						<label for="lowdown">ローダウン</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="power-steering" value="4" <%= 1 == car_info.power_steering ? 'checked' : '' %>>
						<label for="power-steering">パワステ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="CD" value="5" <%= 1 == car_info.cd ? 'checked' : '' %>>
						<label for="CD">CD</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="seats" value="6" <%= 1 == car_info.leather_seat ? 'checked' : '' %>>
						<label for="seats">本革シート</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="no-smoking" value="7" <%= 1 == car_info.non_smoking ? 'checked' : '' %>>
						<label for="no-smoking">禁煙車</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="power-window" value="8" <%= 1 == car_info.power_window ? 'checked' : '' %>>
						<label for="power-window">パワーウィンドウ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="MD" value="9" <%= 1 == car_info.md ? 'checked' : '' %>>
						<label for="MD">MD</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="aero" value="10" <%= 1 == car_info.aero_parts ? 'checked' : '' %>>
						<label for="aero">純正エアロパーツ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="pet" value="11" <%= 1 == car_info.pet ? 'checked' : '' %>>
						<label for="pet">ペット同乗なし</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="door-lock" value="12" <%= 1 == car_info.central_door_lock ? 'checked' : '' %>>
						<label for="door-lock">集中ドアロック</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="DVD" value="13" <%= 1 == car_info.dvd ? 'checked' : '' %>>
						<label for="DVD">DVDビデオ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="alumi" value="14" <%= 1 == car_info.genuine_alminium_wheel ? 'checked' : '' %>>
						<label for="alumi">純正アルミホイール</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="limited" value="15" <%= 1 == car_info.limited_edition ? 'checked' : '' %>>
						<label for="limited">限定車</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="ABS" value="16" <%= 1 == car_info.abs ? 'checked' : '' %>>
						<label for="ABS">ABS</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="TV" value="17" <%= 1 == car_info.tv ? 'checked' : '' %>>
						<label for="TV">テレビ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="ESC" value="18" <%= 1 == car_info.skid_prevention ? 'checked' : '' %>>
						<label for="ESC">横滑り防止装置</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="test" value="19" <%= 1 == car_info.test_drive ? 'checked' : '' %>>
						<label for="test">試乗、現車確認可能</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="airbag" value="20" <%= 1 == car_info.airbag ? 'checked' : '' %>>
						<label for="airbag">エアバッグ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="nav" value="21" <%= 1 == car_info.navi ? 'checked' : '' %>>
						<label for="nav">ナビゲーション</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="TCS" value="22" <%= 1 == car_info.traction_control ? 'checked' : '' %>>
						<label for="TCS">トラクションコントロール</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="manual" value="23" <%= 1 == car_info.manual ? 'checked' : '' %>>
						<label for="manual">取扱説明書</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="ETC" value="24" <%= 1 == car_info.etc ? 'checked' : '' %>>
						<label for="ETC">ETC</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="back-camera" value="25" <%= 1 == car_info.back_cam ? 'checked' : '' %>>
						<label for="back-camera">バックカメラ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="cold-manual" value="26" <%= 1 == car_info.cold_climate ? 'checked' : '' %>>
						<label for="cold-manual">寒冷地帯仕様書</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="new-warranty" value="27" <%= 1 == car_info.warranty ? 'checked' : '' %>>
						<label for="new-warranty">新車時保証書</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="keyless" value="28" <%= 1 == car_info.key_less ? 'checked' : '' %>>
						<label for="keyless">キーレスエントリー</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="slide-door" value="29" <%= 1 == car_info.electric_door ? 'checked' : '' %>>
						<label for="slide-door">電動スライドドア</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="welfare" value="30" <%= 1 == car_info.welfare_vechicles ? 'checked' : '' %>>
						<label for="welfare">福祉車両</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="spare-tire" value="31" <%= 1 == car_info.spare_tire ? 'checked' : '' %>>
						<label for="spare-tire">スペアタイヤ</label>
					</li>
				</ul>
				<button>編集</button>
			</form>
          </div>
        </div>
    </div>

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h3>車両情報削除</h2>
                    <span class="modalClose">×</span>
                </div>
                <form action="">
                    <p>この車両を削除しますか？</p>
                    <button>削除</button>
                </form>
            </div>
        </div>
    </div>

     <script src="../modal.js"></script>
 
 </body>
 </html>