<!-- 
    システム名：HAL自動車オークションシステム
    画面ID：A_stock.ejs
    画面名：在庫管理画面
    作成者：小嶋美紀
 -->
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./destyle.css">
    <link rel="stylesheet" href="./A_style.css">
	<link rel="stylesheet" href="./A_stock.css">
<title>在庫管理画面</title>
</head>
<body>
	
	<div class="grid">
		<header><!-- 共通部分 -->
			<h1>在庫管理</h1>
			<!-- <jsp:include page="logout.jsp" /> -->
		</header>
		
		<nav><!-- 共通部分 -->
		    <ul>
		        <li><a href="/" class="current">在庫管理</a></li>
		        <li><a href="./auctions">オークション管理</a></li>
		        <li><a href="./user">ユーザー管理</a></li>
		        <li><a href="./sales">売上管理</a></li>
		    </ul>
		</nav>
		
		<main><!-- 画面ごとに変更される部分 -->
		<article>
			<div class="article-header">
				<h2>在庫一覧</h2>
				<div>
					<button id="entry-btn">登録</button>
					<button>PDF出力</button>	
				</div>
			</div>
			<div class="tablediv">
				<table>
			        <tr>
						<th>詳細</th>
						<!-- <th>編集</th> -->
			            <th>ID</th>
			            <th>メーカー名</th>
			            <th>車種名</th>
						<th>グレード名</th>
						<th>排気量</th>
						<th>年式</th>
						<th>輸入車モデル年式</th>
						<th>走行距離</th>
						<th>走行距離の状態</th>
						<th>色系統</th>
						<th>色</th>
						<th>車検有効期限</th>
						<th>ミッション</th>
						<th>ボディタイプ</th>
						<th>型式</th>
						<th>削除</th>
			        </tr>
					<% for (let i = 0; i < stock_list.length; i++) { %>
					<tr class="stock-row">
						<td><a href="./detail/<%= stock_list[i].car_ID %>" class="detailBtn">詳細</a></td>
						<td><%= stock_list[i].car_ID %></td>
						<td><%= stock_list[i].maker_name %></td>
						<td><%= stock_list[i].model_name %></td>
						<td><%= stock_list[i].grade %></td>
						<td><%= stock_list[i].displacement %></td>
						<td><%= stock_list[i].model_year %></td>
						<td><%= stock_list[i].import_model_year %></td>
						<td><%= stock_list[i].mileage %></td>
						<td><%= stock_list[i].run_status %></td>
						<td><%= stock_list[i].color_category %></td>
						<td><%= stock_list[i].color_name %></td>
						<td><%= stock_list[i].insurance_deadline %></td>
						<td><%= stock_list[i].mt_at %></td>
						<td><%= stock_list[i].body_type %></td>
						<td><%= stock_list[i].car_type %></td>
						<td><button class="tdBtn" value="<%= stock_list[i].car_ID %>">削除</button></td>
					</tr>
					<% } %>
			    </table>
		    </div>
		</article>
	    </main>
	</div>

	<div id="entryModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
                <h3>登録</h2>
                <span class="modalClose">×</span>
            </div>
			<form action="" method="post" enctype="multipart/form-data">
				<h4>基本情報</h4>
				<input type="hidden" name="ai" value="<%= ai[0].AUTO_INCREMENT  %>">
				<p><input type="file" name="car_img" id="myImage" accept="image/*"></p>
				<p>
					メーカー名
					<select name="maker_id" id="select-maker" required>
						<% for (let i = 0; i < maker_list.length; i++) { %>
						<option value="<%= maker_list[i].maker_ID %>"><%= maker_list[i].maker_name %></option>
						<% } %>
					</select>
				</p>
				<p>
					車種名
					<select name="model_id" id="select-model" required>
						<option class="model-option" value="---" hidden></option>
						<% for (let i = 0; i < model_list.length; i++) { %>
						<option class="model-option maker<%= model_list[i].maker_ID %>" value="<%= model_list[i].car_model_ID %>"><%= model_list[i].name %></option>
						<% } %>
					</select>
				</p>
				<p>グレード<input type="text" name="grade" required></p>
				<p>排気量<input type="number" name="displacement"></p>
				<p>年式<input type="date" name="model_year"></p>
				<p>輸入車モデル年式<input type="date" name="import_model_year"></p>
				<p>走行距離<input type="number" name="mileage"></p>
				<p>
					走行状態
					<select name="runstatus_id">
						<% for (let i = 0; i < run_status_list.length; i++) { %>
						<option value="<%= run_status_list[i].run_status_ID %>"><%= run_status_list[i].run_status %></option>
						<% } %>
					</select>
				</p>
				<p>
					色系統
					<select name="color_type">
						<% for (let i = 0; i < color_list.length; i++) { %>
						<option value="<%= color_list[i].color_ID %>"><%= color_list[i].color_name %></option>
						<% } %>
					</select>
				</p>
				<p>色名<input type="text" name="color_name"></p>
				<p>車検有効期限<input type="date" name="insurance_deadline"></p>
				<p>
					ミッション
					<select name="AT_MT">
						<option value="1">AT</option>
						<option value="2">MT</option>
					</select>
				</p>
				<p>
					ボディタイプ
					<select name="body_type_id">
						<% for (let i = 0; i < body_list.length; i++) { %>
						<option value="<%= body_list[i].body_type_ID %>"><%= body_list[i].body_type_name %></option>
						<% } %>
					</select>
				</p>
				<p>型式<input type="text" name="car_type"></p>
				<h4>詳細情報</h4>
				<p>ドア数<input type="number" name="door"></p>
				<p>乗車定員数<input type="number" name="ride_member"></p>
				<p>
					駆動方式
					<select name="drive_id">
						<% for (let i = 0; i < drive_list.length; i++) { %>
						<option value="<%= drive_list[i].drive_ID %>"><%= drive_list[i].drive %></option>
						<% } %>
					</select>
				</p>
				<p>
					燃料
					<select name="fuel_id">
						<% for (let i = 0; i < fuel_list.length; i++) { %>
						<option value="<%= fuel_list[i].fuel_ID %>"><%= fuel_list[i].fuel %></option>
						<% } %>
					</select>
				</p>
				<p>
					点検記録簿
					<select name="check_memo">
						<option value="1">あり</option>
						<option value="0">なし</option>
					</select>
				</p>
				<p>
					修復歴
					<select name="repair">
						<option value="1">あり</option>
						<option value="0">なし</option>
					</select>
				</p>
				<p>車台番号(下3桁)<input type="number" name="car_number"></p>
				<p>リサイクル預託金<input type="number" name="recycle"></p>
				<p>輸入経路<input type="text" name="route"></p>
				<p>
					ハンドル
					<select name="handle">
						<option value="R">右</option>
						<option value="L">左</option>
					</select>
				</p>
				<p>
					車歴
					<select name="car_history_id">
						<% for (let i = 0; i < car_history_list.length; i++) { %>
						<option value="<%= car_history_list[i].car_history_ID %>"><%= car_history_list[i].car_history %></option>
						<% } %>	
					</select>
				</p>
				<p>所有車歴<input type="number" name="owner_history"></p>
				<p>引き渡し条件<input type="text" name="delivery_condition"></p>
				<h4>装備品</h4>
				<ul>
					<li>
						<input type="checkbox" name="parts" id="aircon" value="air_conditioner">
						<label for="aircon">エアコン</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="smartkey" value="smart_key">
						<label for="smartkey">スマートキー</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="sunroof" value="sun_roof">
						<label for="sunroof">サンルーフ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="lowdown" value="low_down">
						<label for="lowdown">ローダウン</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="power-steering" value="power_steering">
						<label for="power-steering">パワステ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="CD" value="cd">
						<label for="CD">CD</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="seats" value="leather_seat">
						<label for="seats">本革シート</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="no-smoking" value="non_smoking">
						<label for="no-smoking">禁煙車</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="power-window" value="power_window">
						<label for="power-window">パワーウィンドウ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="MD" value="md">
						<label for="MD">MD</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="aero" value="aero_parts">
						<label for="aero">純正エアロパーツ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="pet" value="pet">
						<label for="pet">ペット同乗なし</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="door-lock" value="central_door_lock">
						<label for="door-lock">集中ドアロック</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="DVD" value="dvd">
						<label for="DVD">DVDビデオ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="alumi" value="genuine_alminium_wheel">
						<label for="alumi">純正アルミホイール</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="limited" value="limited_edition">
						<label for="limited">限定車</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="ABS" value="abs">
						<label for="ABS">ABS</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="TV" value="tv">
						<label for="TV">テレビ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="ESC" value="skid_prevention">
						<label for="ESC">横滑り防止装置</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="test" value="test_drive">
						<label for="test">試乗、現車確認可能</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="airbag" value="airbag">
						<label for="airbag">エアバッグ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="nav" value="navi">
						<label for="nav">ナビゲーション</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="TCS" value="traction_control">
						<label for="TCS">トラクションコントロール</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="manual" value="manual">
						<label for="manual">取扱説明書</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="ETC" value="etc">
						<label for="ETC">ETC</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="back-camera" value="back_cam">
						<label for="back-camera">バックカメラ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="cold-manual" value="cold_climate">
						<label for="cold-manual">寒冷地帯仕様書</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="new-warranty" value="warranty">
						<label for="new-warranty">新車時保証書</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="keyless" value="key_less">
						<label for="keyless">キーレスエントリー</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="slide-door" value="electric_door">
						<label for="slide-door">電動スライドドア</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="welfare" value="welfare_vechicles">
						<label for="welfare">福祉車両</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="spare-tire" value="spare_tire">
						<label for="spare-tire">スペアタイヤ</label>
					</li>
				</ul>
				<button name="entry" value="entry">登録</button>
			</form>
          </div>
        </div>
    </div>

	<div id="updateModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
                <h3>編集</h2>
                <span class="modalClose">×</span>
            </div>
			<form action="">
				<p><input type="file" name="car_img" id="myImage" accept="image/*"></p>
				<p>ID：0001</p>
				<p>
					メーカー名
					<select name="maker">
						<option value="1">メーカー1</option>
						<option value="2">メーカー2</option>
						<option value="3">メーカー3</option>
					</select>
				</p>
				<p>
					車種名
					<select name="car-type">
						<option value="1">車種1</option>
						<option value="2">車種2</option>
						<option value="3">車種3</option>
					</select>
				</p>
				<p>グレード<input type="text" name="grade"></p>
				<p>排気量<input type="text" name="displacement"></p>
				<p>年式<input type="text" name="model-year"></p>
				<p>輸入車モデル年式<input type="text" name="import-model-year"></p>
				<p>走行距離<input type="text" name="mileage"></p>
				<p>
					走行状態
					<select name="run-status">
						<option value="1">実走行</option>
						<option value="2">メーター交換車</option>
						<option value="3">改ざん車</option>
						<option value="99">その他</option>
					</select>
				</p>
				<p>
					色系統
					<select name="color-type">
						<option value="1">赤</option>
						<option value="2">青</option>
						<option value="3">黒</option>
					</select>
				</p>
				<p>色名<input type="text" name=""></p>
				<p>車検有効期限<input type="text" name=""></p>
				<p>
					ミッション
					<select name="">
						<option value="1">AT</option>
						<option value="2">MT</option>
					</select>
				</p>
				<p>
					ボディタイプ
					<select name="body-type">
						<option value="1">クロカン、SUV</option>
						<option value="2">ああ</option>
					</select>
				</p>
				<p>型式<input type="text" name=""></p>
				<button>ボタン</button>
			</form>
          </div>
        </div>
    </div>

	
    <script src="./modal.js"></script>

</body>
</html>