<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>こんにちは、<%= name %>さん </p><a href="/logout">ログアウト</a>
  <h1>オークション一覧</h1>
  <ul>
    <% for(let i = 0;i < auction.length; i++){ %> 
      <li>オークションID<%= auction[i].auction_ID %> <%= auction[i].maker_name  %> <%= auction[i].name %>  開始時間:<%= auction[i].start_time.toLocaleString() %> 終了時間:<%= auction[i].ending_time.toLocaleString() %> </li>
      <% if(new Date(auction[i].start_time) <= new Date(new Date().toLocaleString()) && new Date(new Date().toLocaleString()) <= new Date(auction[i].ending_time)) { %>
        <a href="/auction/<%= auction[i].auction_ID %>">オークションへ</a>
      <% } else if(new Date(auction[i].start_time) <= new Date(new Date().toLocaleString())) {%> 
        <p>終了</p>
      <% } else { %>
        <p>開始前</p>
      <% } %> 
    <% } %>
  </ul>
</body>
</html>