<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/destyle.css">
  <link rel="stylesheet" href="/U_header.css">
  <link rel="stylesheet" href="/U_footer.css">
  <link rel="stylesheet" href="/U_auction_room.css">
  <link rel="stylesheet" href="/iziModal/iziModal.css">
  <link rel="stylesheet" href="/visuallyhidden.css">
  <title>HALオークション | <%= auction[0].maker_name  %> <%= auction[0].name %> </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/iziModal/iziModal.js"></script>
</head>
<body>
  <%- include('U_header.ejs'); %>
  <main>
    <h1 class="visuallyhidden">オークションNo. <%= auction[0].auction_ID %>の入札画面</h1>
    <div id="auction_car_title">
      <h2><%= auction[0].maker_name  %> <%= auction[0].name %> <%= auction[0].grade %> <small></small></h2>    
    </div>
    <div id="auction_car_detail">
      <div class="car_images">
        <img src="https://placehold.jp/3d4070/ffffff/150x150.png" alt="車両画像">
      </div>
      <div class="car_auction">
        <div class="car_amount">
          <div class="start">
            <p>開始価格</p>
            <p><%= auction[0].minimum_amount %>円</p>
          </div>
          <div class="now">
            <p>現在価格</p>
            <p id="now_amount"><%= now_amount %>円</p>
          </div>
          <div class="history">
            <button id="bid_history">入札履歴を見る</button>
          </div>
        </div>
        <p id="start_time">開始時間:<%= auction[0].start_time.toLocaleString() %></p>
        <p id="ending_time">終了時間:<%= auction[0].ending_time.toLocaleString() %></p>
        <div class="time-container">
          <p class="diff_time">残り<span id="diff_hour"></span>時間&nbsp;<span id="diff_min"></span>分&nbsp;<span id="diff_sec"></span>秒</p>
        </div>
      </div>
    </div>
    <form id="bid_form">
      <p>入札金額：<input type="number" id="amount_form" min="<%= now_amount + 1%>" value="<%= now_amount %>"></p>
      <input type="submit" id="bid_button" value="入札">
    </form>
    <div id="bid_history_modal">
      <ul id="bid_history_modal_lists">
        <p>上部が最新です</p>
        <% for(let i = 0; i < auction_bid_history.length; i++) {%>
          <div id="history_container">
            <li><%= auction_bid_history[i].amount_time.toLocaleString() %></li><li>入札者: <%= auction_bid_history[i].name %></li><li>入札金額: <%= auction_bid_history[i].amount %></li>
          </div>
        <% } %>
      </ul>
    </div>
  </main>
  <%- include('U_footer.ejs'); %>
</body>
<script>
  var auctionid = '<%= auction[0].auction_ID %>';
  var userid = '<%= id %>';
  var username = '<%= name %>';
  var ending_time = new Date('<%= auction[0].ending_time %>');
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/U_auction_room.js"></script>
</html>