<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/destyle.css">
  <link rel="stylesheet" href="/U_header.css">
  <link rel="stylesheet" href="/U_footer.css">
  <link rel="stylesheet" href="/U_auction_room.css">
  <link rel="stylesheet" href="/iziModal/iziModal.css">
  <link rel="stylesheet" href="/toastr/toastr.css">
  <link rel="stylesheet" href="/visuallyhidden.css">
  <title>HALオークション | <%= auction[0].maker_name  %> <%= auction[0].name %> </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script src="/iziModal/iziModal.js"></script>
  <script src="/toastr/toastr.min.js"></script>
</head>
<body>
  <%- include('U_header.ejs'); %>
  <main>
    <h1 class="visuallyhidden">オークションNo. <%= auction[0].auction_ID %>の入札画面</h1>
    <div id="auction_car_title">
      <h2><%= auction[0].maker_name  %> <%= auction[0].name %> <%= auction[0].grade %> <small></small></h2>
      <p class="visuallyhidden">開催時刻</p>
      <div class="time">
        <p id="start_time"><%= auction[0].start_time.getMonth() + 1 %>/<%= auction[0].start_time.getDate() %>&nbsp;<%= auction[0].start_time.getHours() %>:<%= auction[0].start_time.getMinutes() %>&nbsp;~&nbsp;</p>   
        <p id="ending_time"><%= auction[0].ending_time.getMonth() + 1 %>/<%= auction[0].ending_time.getDate() %>&nbsp;<%= auction[0].ending_time.getHours() %>:<%= auction[0].ending_time.getMinutes() %></p>
      </div>
    </div>
    <div id="auction_car_detail">
      <div class="car_images">
        <img src="https://placehold.jp/3d4070/ffffff/150x150.png" alt="車両画像">
      </div>
      <div class="car_auction">
        <h2 class="visuallyhidden">オークション残り時間</h2>
        <div id="time-container">
          <p class="diff_time">残り時間&nbsp;<span id="diff_hour"></span>:<span id="diff_min"></span>:<span id="diff_sec"></span></p><p class="status">開催中</p>
        </div>
        <div class="car_amount">
          <h2 class="visuallyhidden">オークション価格</h2>
          <div class="start">
            <p>開始価格</p>
            <p><%= auction[0].minimum_amount.toLocaleString() %><span>円</span></p>
          </div>
          <div class="now">
            <p>現在価格</p>
            <p id="now_amount"><%= now_amount.toLocaleString() %><span>円</span></p>
          </div>
        </div>
        <div class="auction_button">
          <button id="bid_history">入札履歴を見る</button>
          <button id="bid">入札する</button> 
        </div>
        <h2 class="car_info_headline">車両詳細</h2>
        <div class="car_info">
          <div id="model_year">
            <span>モデル年式</span>
            <p><%= auction[0].model_year.getFullYear() %>年</p>
          </div>
          <div id="mileage">
            <span>走行距離</span>
            <p><%= auction[0].mileage.toLocaleString() %>km</p>
          </div>
          <div id="color">
            <span>色</span>
            <p><%= auction[0].color_name %>系</p>
          </div>
          <div id="displacement">
            <span>排気量</span>
            <p><%=  Math.round(auction[0].displacement / 100) * 100 %>cc</p>
          </div>
        </div>
        <div class="equipment_container">
          <h2>装備品</h2>
          <ul>
            <li <% if(auction[0].air_conditioner == 0) { %> class="invisible" <% } %>>
              エアコン
            </li>
            <li <% if(auction[0].smart_key == 0) { %> class="invisible" <% } %>>
              スマートキー
            </li>
            <li <% if(auction[0].sun_roof == 0) { %> class="invisible" <% } %>>
              サンルーフ
            </li>
            <li <% if(auction[0].low_down == 0) { %> class="invisible" <% } %>>
              ローダウン
            </li>
            <li <% if(auction[0].power_steering == 0) { %> class="invisible" <% } %>>
              パワステ
            </li>
            <li <% if(auction[0].cd == 0) { %> class="invisible" <% } %>>
              CD
            </li>
            <li <% if(auction[0].sun_roof == 0) { %> class="invisible" <% } %>>
              本革シート
            </li>
            <li <% if(auction[0].non_smoking == 0) { %> class="invisible" <% } %>>
              禁煙車
            </li>
            <li <% if(auction[0].power_window == 0) { %> class="invisible" <% } %>>
              パワーウインドウ
            </li>
            <li <% if(auction[0].md == 0) { %> class="invisible" <% } %>>
              MD
            </li>
            <li <% if(auction[0].aero_parts == 0) { %> class="invisible" <% } %>>
              純正エアロパーツ
            </li>
            <li <% if(auction[0].pet == 0) { %> class="invisible" <% } %>>
              ペット同乗なし
            </li>
            <li <% if(auction[0].central_door_lock == 0) { %> class="invisible" <% } %>>
              集中ドアロック
            </li>
            <li <% if(auction[0].dvd == 0) { %> class="invisible" <% } %>>
              DVD
            </li>
            <li <% if(auction[0].genuine_alminium_wheel == 0) { %> class="invisible" <% } %>>
              純正アルミホイール
            </li>
            <li <% if(auction[0].limited_edition == 0) { %> class="invisible" <% } %>>
              限定車
            </li>
            <li <% if(auction[0].abs == 0) { %> class="invisible" <% } %>>
              ABS
            </li>
            <li <% if(auction[0].tv == 0) { %> class="invisible" <% } %>>
              テレビ
            </li>
            <li <% if(auction[0].skid_prevention == 0) { %> class="invisible" <% } %>>
              横滑り防止装置
            </li>
            <li <% if(auction[0].traction_control == 0) { %> class="invisible" <% } %>>
              トラクション（TCS）
            </li>
            <li <% if(auction[0].airbag == 0) { %> class="invisible" <% } %>>
              エアバッグ
            </li>
            <li <% if(auction[0].navi == 0) { %> class="invisible" <% } %>>
              ナビゲーション
            </li>
            <li <% if(auction[0].manual == 0) { %> class="invisible" <% } %>>
              取扱説明書
            </li>
            <li <% if(auction[0].etc == 0) { %> class="invisible" <% } %>>
              ETC
            </li>
            <li <% if(auction[0].back_cam == 0) { %> class="invisible" <% } %>>
              バックカメラ
            </li>
            <li <% if(auction[0].cold_climate == 0) { %> class="invisible" <% } %>>
              寒冷仕様
            </li>
            <li <% if(auction[0].warranty == 0) { %> class="invisible" <% } %>>
              新車時保証
            </li>
            <li <% if(auction[0].key_less == 0) { %> class="invisible" <% } %>>
              キーレスエントリー
            </li>
            <li <% if(auction[0].electric_door == 0) { %> class="invisible" <% } %>>
              電動スライドドア
            </li>
            <li <% if(auction[0].welfare_vechicles == 0) { %> class="invisible" <% } %>>
              福祉車両
            </li>
            <li <% if(auction[0].spare_tire == 0) { %> class="invisible" <% } %>>
              スペアタイヤ
            </li>
            <li <% if(auction[0].test_drive == 0) { %> class="invisible" <% } %>>
              試乗、現車確認可能
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="bid_history_modal">
      <p id="top_comment">上部が最新です</p>
      <ul id="bid_history_modal_lists">
        <% for(let i = 0; i < auction_bid_history.length; i++) {%>
          <div id="history_container">
            <li><%= auction_bid_history[i].amount_time.toLocaleString() %></li><li>入札者: <%= auction_bid_history[i].name %></li><li>入札金額: <%= auction_bid_history[i].amount.toLocaleString() %></li>
          </div>
        <% } %>
      </ul>
    </div>
    <div id="bid_modal">
      <form id="bid_form">
        <p id="form_text">入札金額：<input type="number" id="amount_form" value="<%= now_amount %>">&nbsp;円</p>
        <p id="add_text">金額を追加する</p>
        <hr>
        <div id="add_button">
          <button id="add10000" value="10000">+10000円</button>
          <button id="add5000" value="5000">+5000円</button>
          <button id="add1000" value="1000">+1000円</button>
        </div>
        <hr>
        <div id="confirm_button">
          <input type="submit" id="bid_button" value="入札する">
        </div>
      </form>
    </div>
  </main>
  <%- include('U_footer.ejs'); %>
</body>
<script>
  var auctionid = '<%= auction[0].auction_ID %>';
  var userid = '<%= id %>';
  var username = '<%= name %>';
  var now_amount = '<%= now_amount %>';
  var ending_time = new Date('<%= auction[0].ending_time %>');
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/U_auction_room.js"></script>
<script src="/U_header.js"></script>
</html>