<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <p>こんにちは、<%= name %>さん</p>
  <h1>オークションNo. <%= auction[0].auction_ID %></h1>
  <h2><%= auction[0].maker_name  %> <%= auction[0].name %> <%= auction[0].grade %> </h2>
  <p id="now_amount">現在価格: <%= now_amount %> </p>
  <p id="start_time">開始時間:<%= auction[0].start_time.toLocaleString() %></p>
  <p id="ending_time">終了時間:<%= auction[0].ending_time.toLocaleString() %></p>

  <div class="time-container">
    <p class="diff_time">残り<span id="diff_hour"></span>時間&nbsp;<span id="diff_min"></span>分&nbsp;<span id="diff_sec"></span>秒</p>
  </div>

  <form id="bid_form">
    入札金額：<input type="number" id="amount_form" min="<%= now_amount + 1%>" value="<%= now_amount %>">
    <input type="submit" id="bid_button" value="入札">
  </form>

  <button id="bid_history">入札履歴</button>
  <div id="bid_history_modal">    
    <h3>オークション入札履歴</h3>
    <ul id="bid_history_modal_lists">
      <% for(let i = 0; i < auction_bid_history.length; i++) {%> 
        <li>入札時間: <%= auction_bid_history[i].amount_time.toLocaleString() %> 入札者: <%= auction_bid_history[i].name %> 入札金額: <%= auction_bid_history[i].amount %></li>
      <% } %>
    </ul>
  </div>
</body>
<script>
  var auctionid = '<%= auction[0].auction_ID %>';
  var userid = '<%= id %>';
  var username = '<%= name %>';
  var ending_time = new Date('<%= auction[0].ending_time %>');
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/U_auction_room.js"></script>
</html>