<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/destyle.css">
  <link rel="stylesheet" href="/U_header.css">
  <link rel="stylesheet" href="/U_footer.css">
  <link rel="stylesheet" href="/U_index.css">
  <link rel="stylesheet" href="/visuallyhidden.css">
  <title>HALオークション | TOP</title>
</head>
<body>
  <%- include('U_header.ejs'); %>
  <main>
    <div id="top_introduction">
      <h1>HAL AUCTION</h1>
      <p>業者オークションの価格で車両を落札できるオークションサイト。</p>
    </div>
    <div id="now_auction">
      <h2>現在開催中のオークション</h2>
    </div>
    <% if (now_auction.length == 0) { %>
      <div class="auction_not_yet">
        <h2>現在開催しているオークションはありません。</h2>
      </div>
    <% } %> 
    <% now_auction.forEach(function (value, key) { %>
      <h3 class="visuallyhidden">オークションNo.<%= value.auction_ID %> <%= value.maker_name %> <%= value.name %> <%= value.grade %></h3>
      <div class="now_auction">
        <div class="now_auction_img">
          <img src="/images/car_images/<%= value.car_ID %>/index.jpg" alt="車両画像">
        </div>
        <div class="now_auction_info">
          <div class="maker">
            <p><%= value.maker_name %> <%= value.name %> <%= value.grade %> </p>
          </div>
          <div class="amount_container">
            <div class="amount">
              <div class="start">
                <p>開始価格</p>
                <p><%= value.minimum_amount.toLocaleString() %>円</p>
              </div>
              <div class="now">
                <p>現在価格</p>
                <% if(value.max_amount == null) { %>
                  <p><%= value.minimum_amount.toLocaleString() %>円</p>
                <% } else { %>
                  <p><%= value.max_amount.toLocaleString() %>円</p>
                <% } %>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="time">
              <p>開始時刻：<%= value.start_time.toLocaleString() %> <br>終了時刻：<%= value.ending_time.toLocaleString() %></p>
            </div>
            <div class="to_auction">
              <% if(login) { %>
                <a href="/auction/<%= value.auction_ID %>">オークションへ</a>
              <% } else { %>
                <a href="/login">ログイン</a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
    <div id="to_auction_list">
      <% if(login) { %>
        <a href="/auction">オークション一覧へ</a>
      <% } else { %>
        <a href="/login">ログインして一覧を見る</a>
      <% } %>
    </div>
  </main>
  <%- include('U_footer.ejs'); %>
</body>
<script src="/U_header.js"></script>
</html>
